# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
/data/raw/**
/data/processed/**
!/data/raw/.gitkeep
!/data/processed/.gitkeep

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
